html,body {
margin:0;
padding:0;
overflow-x:hidden;
width:100%;
height:100%;
background-color:#fff;
font-family:'space'
}
$pilot: 20em;
$listunitsize:28em;
$listunitlisize:26em;
$upglist:16em;
$slistunitlisize:19em;
$namecolor:rgba(200,200,200,0.3);

@mixin mediawidth($w) {
    .leftpanel,.rightpanel,.leftpanel section,.rightpanel section { width:$w; }
    .leftpanel section {
	direction:ltr;
	z-index:2;
	.statskill { float:right }
        .stat,.tooltip { left:$w; }
        .stat2 { left:$w + 8px; }
        .stat3 { left:$w + 16px; }
        .pts,.totalpts { left:$w + 15px; }
	.dial,.upgtxt { left:$w + 20px; position:fixed; }
    }
    .rightpanel section {
	.statskill { float:left }
        .stat,.tooltip { right:$w; }
        .stat2 { right:$w + 8px; }
        .stat3 { right:$w + 16px; }
        .pts,.totalpts { right:$w + 15px; }
	.dial,.upgtxt { right:$w + 20px; position:fixed; }
    }
    .main {
        left:$w;
	width:calc(100% - #{2 * $w});
    }
}
@media print {
    .mainarticle,footer,aside,.main,section, nav,.features {
	display:none;
    }
    .printable {
	display:block;
    }
    #printinfo {
	    display:block;
    }
    /*body {
	-webkit-print-color-adjust: exact;
	printer-friendly-colors: auto;
	printer-color-adjust: auto;
	printer-colors: exact;
	color-adjust: exact;
	conserve-ink: auto ;
	expensive-colors: exact;
    }*/
}
@media screen {
    .printable {
	display:none;
    }
    #printinfo {
	    display:none;
    }
}
@media screen and (max-width: 800px) {
    /*.title,.ver { display:none; }*/
    html,body {	font-size:12px; }
    @include mediawidth(120px);
    /*.news {
	-webkit-column-count: 2;
	-moz-column-count: 2; 
	column-count: 2;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em; 
	column-gap: 1em;
    }*/
}

@media screen and (min-width:800px) {
    @include mediawidth(170px);
    /*.news {
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em; 
	column-gap: 1em;
	-webkit-column-count: 3; 
	-moz-column-count: 3; 
	column-count: 3;
    }*/
}
@media screen and (min-height:800px) {
    ul#caroussel {
	position:absolute;
	bottom: 0;
	font-size:0.5em;
	height:29em;
	padding-top:11em;
	li {
	    height:22em;
	}
	.pilots tbody {
	    height:15em;
	}
    }
    ul#listunits {
	font-size:larger;
    }
}
@media screen and (max-height:800px) {
    ul#caroussel {
	position:absolute;
	bottom:0;
	font-size:0.5em;
	height:24em;
	padding-top:11em;
	li {
	    height:22em;
	}
	.pilots tbody {
	    height:12em;
	}
    }
}
/*@media screen and (min-width:400px) {
button.m-replay {
visibility:hidden;
display:none
}
}*/

@media screen and (max-width:400px) {
    html,body/*,::after,select,.symbols,.statfire,.statevade*/ {
	font-size:10px;
    }
    nav,footer {
	position:fixed;
	top:0;
	opacity:0;
	background:rgba(0,0,0,1);
    }
    button.m-replay {
	visibility:visible;
	display:block
    }
    .leftpanel,.rightpanel {
	display:none;
	visibility:hidden
    }
    .main,/*#selectphase*/.playmat {
	top:0;
	left:0;
	position:fixed
    }
 /*   .news {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
    }*/
}

.headunits {
    background:#b0c4de;
    vertical-align:middle;
    width:100%;
    font-variant:small-caps;
    border-spacing:0;
    border-collapse:collapse;
    td:first-child {width:.8em; }
    select {
	width:15em;
	margin-right:2em;
	font-variant:small-caps;
    }
    button {
	background:#fff;
	color:#000;
	display:inline-block;
	margin:2px;
	text-align:center;
	box-shadow:1px 1px 3px #000;
	padding:2px;
	border:0;
	border-radius:5px;
	height:2em;
    }
    button:hover {
	background:#000;
	color:#fff
    }
    input { border-radius:10px; }
}


@keyframes slidein {
  from {
    left: -100%;
  }

  to {
    left: 20%;
  }
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    display:none;

    .modaltitle {
	position:absolute;
	top:0;
	left:30%;
    }
    td {text-align:center; }
    textarea {
	margin-left:5%;
	width:90%;
	color:#fff;
	background:grey;
	height:12em;
	width:80%;
    }
    > div {
	transition: transform 2s, opacity 2s ease-in;
	position:absolute;
	overflow:hidden;
	margin:0;
	top:20%;
	left:20%;
	border-radius:10px;
	color:#000;
	height:60%;
	width: 60%;
	background: #fff;
	> div {
	    overflow-x:hidden;
	    overflow-y:auto;
	    height:calc( 100% - 6ex );
	    width:calc(100% - 2ex );
	    margin-top:2ex;
	    margin-bottom:10px;
	    margin-left:10px;
	    margin-right:10px;
	}
    }
    &:target {
	opacity:1;
	display:block;
	> div {
	    animation-duration: 400ms;
	    animation-name: slidein;
	}
    }
}

footer,article,footer,body {
display:block;
}
.outline {
animation-name:mine;
animation-duration:.5s;
-webkit-animation-direction:alternate;
animation-direction:alternate;
-webkit-animation-iteration-count:infinite;
animation-iteration-count:infinite
}
.bombanim {
stroke-dasharray: 100px;
animation:timer 4s linear;
animation-iteration-count:infinite
}

.upanim {
animation-name:up;
animation-duration:1s;
animation-timing-function:ease;
position:absolute;
-webkit-animation-fill-mode:forwards;
animation-fill-mode:forwards;
left:150px;
top:0;
pointer-events:none
}

@keyframes up {
from {
transform:translate(0,0);
opacity:1
}

to {
transform:translate(0,-2.5em);
opacity:0
}
}

.downanim {
animation-name:down;
animation-duration:1s;
-webkit-animation-fill-mode:forwards;
animation-fill-mode:forwards;
animation-timing-function:ease;
position:absolute;
left:150px;
top:0;
pointer-events:none
}

@keyframes down {
from {
transform:translate(0,-2.5em);
opacity:1
}

to {
transform:translate(0,0);
opacity:0
}
}

@keyframes mine {
from {
transform:scale(0.8)
}
to {
transform:scale(1.2)
}
}
@keyframes timer {
to {
stroke-dashoffset: 1000px;
}
}
.main {
height:100%;/*calc(100% - 5ex)*/;
position:relative;
/*top:5ex;*/
top:0;
z-index:0;
display:none;
}
.shadowedtext {
    text-shadow:1px 1px #000,1px -1px #000,-1px 1px #000,-1px -1px #000;
}
.mainarticle {
    z-index:0;
    position:relative;
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
    h1 { opacity:0.15;
	 font-size:3em;
	 position:absolute;
	 top:0;left:0;
	 margin:0;padding:0;
	 pointer-events:none;
	 z-index:-1;
	 color:#fff;
       }
    .selector {
	text-align:right;
    }
}
.playmat {
padding:0;
background-repeat:no-repeat;
background-size:100% 100%;
width:100%;
height:100%;
overflow:hidden
}
.playmat img {
width:100%;
height:100%
}
article {
margin:0;
padding:0;
width:100%;
background-color:#FFF;
color:#000;
/*height:calc(100% - 4ex)*/
}

.tooltip {
position:fixed;
width:20em;
color:#000;
font-weight:400;
font-variant:normal;
font-family:"space";
display:none;
background:#fffAF0;
border-radius:5px;
padding:5px;
box-shadow:2px 2px 2px #CCC;
margin:2px;
text-align:justify;
white-space:normal;
}
.textfilter {
margin:0;
border:0;
padding:0;
font-size:1em;
}
.shipupgrades .Elite {
display:none
}


tr:hover .tooltip, .tr:hover .tooltip, .name:hover .tooltip {
transition:opacity .25s ease-in-out;
display:block;
opacity:1
}

body {
width:100%;
margin:0;
padding:0;
border:0
}

.h2 {
margin:3px;
padding:0;
border:0;
color:#fff;
float:left
}
h2 {
color:#4682b4;
}
h2,h3 {
margin:5px;
font-size:larger;
text-align:center;
opacity:1;
}
h3 {
color:steelblue;
padding:5px;
margin:10px;
text-align:center;
font-variant:small-caps;
}
nav {
    display:none;
    select,label {
	background:rgba(0,0,0,0);
	border:0;
	color:white;
    }
    .buttonbar {
	color:#FFF;
    }
    .navmenu {
	opacity:0;
    }
    .navmenu.ontop {
	opacity:1;
	background:white;
	padding:5px;
    }
    background:rgba(0,0,0,0);
    transition: all 1s;
    margin:0;
    clear:both;
    position:fixed;
    top:0;
    left:10em;
    width:60%;
    z-index:10;
    height:4ex;
    ul {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline
    }
    div ul {
	display:none;
	position:absolute;
	right:0;
	top:1.1em;
	border-radius:0 0 4px 4px;
	box-shadow:0 2px 2px -1px rgba(0,0,0,0.055);
	margin:0;
	padding:0;
	border:0;
	visibility:hidden;
	z-index:100;
	width:10em;
	li {
	    display:block;
	    background:#b0c4de;
	    padding:5px;
	}
	li:hover { background:#b0c4ed; }
    }
    a:hover { background:#4682b4; }
    a {
	text-decoration:none;
	color:#fff;
	display:block;
	padding:5px;
    }
    input[type="file"] {
	display:none;
    }
}

.selector {
    font-size:smaller;
    text-align:left;
    width:100%;
    padding-top:1em;
    > span {
	margin:10px;
	text-decoration:underline;
	cursor:pointer
    }
}

.setupselector {
    text-align:left;
    vertical-align:middle;
    margin-left:2.5%;
    opacity:.75;
    img {
	height:40px;
	text-align:right
    }
    span {
	margin:10px;
	width:25%
    }
}

.phase,.squad1,.squad2 {
font-size:smaller
}

.generic {
border-spacing:0;
border-collapse:collapse;
padding:0
}

.name select,.namewidth {
width:calc(100% - 3em);
background:#000;
color:#fff;
text-align:right;
font-variant:small-caps;
font-weight:700
}

.name {
text-align:center;
font-variant:small-caps;
font-family:'spacename'
}

.upgrade select {
text-align:center
}

.shipname select {
text-align:center;
width:15em;
font-variant:small-caps
}

.shipname span {
width:1em
}

.xwing::after {
content:"\00b5";
font-family:'symbols';
font-size:2em;
}
.generic {
width:100%
}

.head {
padding:5px
}

.info {
    @extend .shadowedtext;
    z-index:99;
    width:10em;
    height:1em;
    color:white;
    display:none;
    position:absolute;
    left:150px;
    top:0;
    pointer-events:none
}

.phasepanel {
position:absolute;
top:0;
left:0;
color:#fff;
background:rgba(0,0,0,0);
width:50px
}
.motd {
font-size:smaller;
}
/*#modal > div,#credit > div,#about > div {
height:50%;
width:50%
}

#import > div,#help > div {
height:16em;
width:60%
}*/
#npimg {
    display:inline;
}
#npimgwait {
    width:10px;
    display:none;
}
.playerselector input {
display:none
}
.playertype:disabled {
    color:#FFF;
    text-shadow:1px 1px #AAA,1px -1px #AAA,-1px 1px #AAA,-1px -1px #AAA;
}
.playerteam {
    font-family:"symbols";
    font-size:2em;
    vertical-align:bottom;
    color:#fff;
    background:$namecolor;
    border:0;
    margin:0;
}
.playertype {
background:$namecolor;
}
.playertype {
color:#fff;
width:calc( 100% - 2em ) ;
font-size:1em;
border:0;
}

@mixin CARBON {

background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px,
-webkit-radial-gradient(center, circle farthest-corner, #484848, #080808);
background-color:#282828;
background-size:16px 16px,16px 16px, 16px 16px,16px 16px, 100% 100%;
background-repeat: repeat, repeat, repeat, repeat, no-repeat;
/*
background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #484848, #c0c0c0);
background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;
background-repeat: no-repeat, repeat, repeat, no-repeat;
background-position: top center, 1px 1px, 0px 0px, top center;
*/
}
#creation {
    min-height:100%;
    color:#FFF;
    overflow:hidden;
    .bg::before {
	@include CARBON
    }
    #unitfilter {
	display:none;
	position:absolute;
	top:5em;
	right:0;
	z-index:999;
	/*bottom:2em;
	left:0;*/
	background:rgba(100,100,100,0.5);
	width:11em;
	border:0;
	padding:0;
	margin:0;
	border-radius:0 15px 15px 0;
	color:#FFF;
	text-align:center;
	.GREEN {
	    font-size:larger;
	}
	.upgradefilter span,.actionfilter span {
	    display:inline-block;
	    width:3em;
	    white-space:nowrap;
	}
	input[type=range] {
	    border:white;
	    width:8em;
	}
	.dialfilter td[move] {
	    width:1em;
	    font-size:xx-small;
	    opacity:0.5;
	    text-align:center;
	    cursor:pointer;
	    &:hover,&.selected {
		color:black;
		background:yellow;
		opacity:1
	    }
	}
    }
    .factions {
	cursor:pointer;
    }
}
.bg::before {
    position:absolute;
    top:0;
    left:0;
    content:"";
    width:100%;
    height:100%;
    z-index:-2; 
}
.filter::after {
    background:#000;
    opacity:0.5;
    z-index:-1;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    content:"";
    left:0;
}
#manage {
    min-height:100%;
    color:#FFF;
    .bg::before {
	@include CARBON
	/*
	background:url(playmat9.jpg) no-repeat fixed;
	background-size:cover;*/
    }
    .filter::after {
	background:#000;
    }
}
#asteroid > div {
width:40%;
left:30%;
top:20%;
overflow-y:auto;
}
#export > div {
/*    width: 60%;
    position: relative;
    background: #fff;*/
 /*   background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/
    #linklist {
	height:3em;
    }
    #xwsjsonlist {
	height:4em;
    }
}
#save > div {
width:70%
}
/*#proba > div,#combatmodal > div,#donate > div {
width:400px;
font-size:smaller
}*/

#credit > div,#help > div,#about > div,#donate > div {
text-align:justify
}

td,th,table {
vertical-align:middle;
text-align:center;
border:0;
padding:0;
margin:0;
}

.warn {
color:red
}
.tabpanel {
    position:absolute;
    top:5.5em;
    right:0;
    text-decoration:none;
    cursor:pointer;
    border:1px white;
    padding:1em;
    text-align:right;
    span {
	background-color:transparent;
	padding-right:5px;
	cursor:pointer;
    }
    span:not(:last-child) {
	border-right:1px solid #FFF;
    }
}
.close {
position:absolute;
right:0.5ex;
text-decoration:none;
cursor:pointer;
}

.victory {
position:absolute;
top:1ex;
}
.duplicate:hover,.dialopen:hover,.statistics:hover,.upgradelists:hover {
color:#000;
background:#FFF;
}
.panels {
top:3em;
/*width:1.5em;
height:1.5em;*/
}
.close {
top:0;
margin-right:0.5ex;
color:red
}

.close:hover,.closemiddle:hover {
background:red;
color:#fff
}

.closemiddle {
margin-right:.5ex;
color:red;
font-size:1.5em;
text-decoration:none;
cursor:pointer;
width:2em;
padding-left:4px;
padding-top:0;
padding-right:2px
}

.squadmiddle,.squadmiddle.right,.squadmiddle.battlelog {
text-decoration:none;
cursor:pointer;
width:4ex;
font-size:1em;
background:#A00;
border:3px inset grey;
}
.squadmiddle.right {
background:#4682b4;
}
.squadmiddle.battlelog {
font-size:1.35em;
background:#000;
margin:0.2em;
}
.tocombat {
text-align:center;
font-size:smaller;
vertical-align:middle;
}

.logmiddle {
cursor:pointer;
width:1.8em;
font-size:1.5em;
vertical-align:middle
}

.button, table.dataTable td:first-child {
cursor:pointer
}

.phasepanel {
display:none
}

.attackwp {
background:#000;
color:#fff
}

#attack,#defense {
margin:0;
border:0;
padding:0
}

.tdstat {
width:100%;
padding:2px;
margin:1px;
vertical-align:middle
}

.remover {
color:red;
font-weight:700;
cursor:pointer
}

.stats {
text-align:center
}

.statfire,.statevade,.PS,.statshield,.stathull,.statskill {
line-height:1.5em;
padding:.1em;
margin:.1em;
background:#333;
border-radius:50%;
min-width:1.5em;
text-align:center
}

.team,.name {
color:#000;
overflow-y:auto;
overflow-x:hidden
}

.unitlist {
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
    white-space:nowrap;
    /*font-size:smaller;*/
    .shipname,.pilotname {
	@extend .shadowedtext;
    }
}

button.statevade,button.statfire {
width:2.2em
}

.name {
font-weight:700
}

.shipselection {
width:12em;
height:1em
}

.statskill,.PS {
color:#FA0
}

.statevade {
color:#0A0
}

.stathull,.hull,.chull {
color:#EE0
}

.statshield,.shield,.cshield {
color:#0AF
}

.hull,.shield {
display:inline-block;
font-family:'symbols'
}

.stat,.stat2,.stat3 {
line-height:8px;
position:fixed;
width:1.3ex;
letter-spacing:4px
}

.actions,.pts {
color:#fff;
text-align:center
}

.actions span {
margin-left:4px
}

.leftpanel section .pts,.leftpanel section .totalpts,.rightpanel section .pts,.rightpanel section .totalpts {
color:#fff;
position:fixed;
background:rgba(255,0,0,0);
text-align:left;
text-shadow:-1px -1px 0 #000;
z-index:1;
margin-top:.5em
}

.outoverflow {
z-index:2;
}

td,tr,table {
margin:0;
border:0;
padding:0
}

.dial {
color:#fff;
max-width:10em;
width:10em;
z-index:1;
border-radius:8px;
font-size:smaller;
empty-cells:hide
}

.dial tr td,.dial tr td:first-child {
background:#000
}

.upgtxt {
color:#fff;
padding-left:1em
}


.plus {
color:#fff;
font-size:large;
font-weight:700;
padding:5px;
display:inline-block;
margin:5px;
text-align:center;
width:14px;
line-height:14px;
box-shadow:1px 1px 3px #000;
border-radius:16px;
border-style:solid;
border-width:1px
}

select {
height:2em;
padding-left:0;
margin-left:0;
text-align:center
}

.hull,.shield {
font-family:'symbols';
line-height:8px;
font-size:20px;
border:0;
margin:0;
padding:0;
font-weight:700
}

.phasepanel .symbols {
text-decoration:none;
text-align:center;
min-width:2ex;
border-color:#fff;
background:rgba(0,0,0,0.4);
display:table-cell;
border:1px;
border-radius:50%;
border-style:solid;
line-height:2ex;
padding-top:0px;
}

.disabled,.disabled .selected {
color:#aaa
}

.generic > tr:first-child > td {
border-top:1px solid #fff;
padding-top:5px
}

.listunits {
border-collapse:collapse;
overflow-y:auto
}


.team .selected,.team .selected .details,.team .selected .name {
background:orange; /*orange;*/
color:#fff
}
#actiondial .symbols:hover,#attackdial .symbols:hover,#positiondial .symbols:hover {
color:#000;
background:#FFF;
}
.table,.team {
display:block;
width:100%;
padding:0;
border:0;
border-collapse:collapse;
border-spacing:0;
empty-cells:hide
}

.table td {
width:1em;
padding:0;
margin:0;
font-size:1.5ex
}

.table .vertical,.tohit .details {
display:none
}

.details {
color:#fff;
text-align:justify;
margin:.1em;
overflow:auto
}

.team .details {
color:#000
}

.upgrade select {
width:calc(100% - 3.5em);
margin:0
}

.table > div,.team > div,.team > p {
width:100%;
padding:0;
margin:0
}

.table > div > div,.phasepanel .table > div > button,.team > div > div {
text-align:center;
min-width:20px
}

tttable {
table-layout:fixed;
width:100%
}

.team .dead.selected .details,.dead,.dead .tdstat,.dead .name,.dead .name .selected,.dead .REBEL,.dead .statfire,.dead .nofire .statfire,.dead .statevade,.dead .upgrades,.dead .EMPIRE,.dead .SCUM,.dead .statskill,.team .selected.dead .name {
background:#000;
color:gray
}

.team .docked.selected .details,.docked,.docked .tdstat,.docked .name,.docked .name .selected,.docked .REBEL,.docked .statfire,.docked .statevade,.docked .upgrades,.docked .EMPIRE,.docked .SCUM,.docked .statskill,.team .selected.docked .name {
background:#696969;
color:gray
}

.team > div {
margin-left:0;
padding-left:0;
box-shadow:1px 1px 3px #000;
color:#000;
background:#fff
}
.team > div.dead {
color:grey;
background:#000
}

.ctrl {
position:absolute;
width:6em;
display:none;
left:190px;
cursor:pointer;
bottom:0;
color:#000;
background:rgba(50,50,50,0.5);
border-radius:50%;
margin:5px;
padding:0;
text-align:center
}

.ctrl table,.ctrl button {
border-radius:50%;
padding:8px;
background:#fff
}

.clicks {
background:red;
color:#fff;
border-radius:1em;
padding:2px
}
.bigbutton, .bigbutton2 {
display:inline-block;
text-align:center;
border:0;
text-decoration:none;
background:#e2e2e4;
color:black;
cursor:pointer;
padding-top:3px;
padding-bottom:3px;
margin-top:1px;
margin-bottom:1px;
font-size:1em;
font-family:"space";
}
.smallbutton,.permalink,.mainbutton {
display:inline;
text-align:center;
box-shadow:1px 1px 3px #000;
color:#000;
border:0;
text-decoration:none;
cursor:pointer;
border-radius:2px;
padding:0;
margin:0;
}

.permalink,.mainbutton {
padding:.25em;
margin:.25em
}

.smallbutton {
padding:2px;
margin:2px;
color:#000;
/*font-size:smaller;*/
background:#fff;
}

.mainbutton:not(:disabled):hover {
background:black;
/*background:#fff;*/
color:#FFEBCD;
}

.smallbutton:not(:disabled):hover {
background:#000;
color:#fff;
}

.replay {
background:#fff;
opacity:1;
/*margin:2em;*/
max-width:400px;
max-height:400px;
width:40vw;
height:40vw;
border:0
}

.bigbutton,.bigbutton2 {
width:100%
}


.maneuver {
border-radius:50%;
border:1px solid;
letter-spacing:4px;
padding-left:4px;
background:grey
}
.maneuverdial {
    td {
	vertical-align:bottom;
    }
}
.HALFRED { color:#A00;}
.HALFYELLOW { color:#AA0;}
.HALFGREEN { color:#0A0;}
.GREEN { color:#0F0; border-color:#0F0; }
.RED { color:red; border-color:red; }
.BLUE { color:#0AF; border-color:#0AF; }
.YELLOW { color:#CC0; border-color:#CC0; }
.WHITE { color:#fff; border-color:#fff; }

.upgrades,.TOP::before {
color:#ffd700
}

.inactive,.inactive .upgrades,.inactive .statfire,.dead,.docked .nofire .statfire {
color:gray
}

.nofire .statfire {
color:#b22222
}

.Laser,.Turretlaser,.Bilaser,.Laser180,.Mobilelaser{
color:#F33
}
@each $header, $content, $color in (
    ("ROLL","r",".GREEN"),
    ("SLAM","s",".GREEN"),
    ("COORDINATE","o",".GREEN"),
    ("FOCUS","f",".GREEN"),
    ("TARGET","l",".GREEN"),
    ("ARCROTATE","R",".GREEN"),
    ("CLOAK","k",".GREEN"),
    ("EVADE","e",".GREEN"),
    ("BOOST","b",".GREEN")) {
    .s#{$header} {
	@extend .stoken;
	@extend #{$color};
    }
    .s#{$header}::after { 
	content: $content;
    }
}    

@each $header, $content in (Laser: "%", 
			    Mobilelaser:"%",
			    Laser180:">",
			    Bilaser:"<",
			    Turretlaser: "$", 
			    TOP: "E",
			    Stress: "ê",
			    Ion: "\00f3",
			    Focus: "ç",
			    Hit: "d",
			    Critical: "c",
			    Blank: "\00a0",
			    Evade: "é",
			    Target: "l",
			    Cloak: "ô",
			   ) {
  .#{$header}::after {
    content: $content;
  }
  .#{$header} {
      @extend .UPG;
  }
}
@each $header, $content in (Mod: "m",
			    Title: "t",
			    Elite: "E",
			    Tech: "X",
			    Torpedo: "P",
			    Astromech: "A",
			    Bomb: "B",
			    CannonTorpedoMissile: "CPM",
			    Missile: "M",
			    Illicit: "I",
			    Cannon: "C",
			    Crew: "W",
			    System: "S",
			    Turret: "U",
			    Salvaged: "V",
			    Tractor: "ï",
			    Noattack:"\00ed",
			   ) {
  .#{$header}::after {
    content: $content;
  }
  .#{$header} {
      @extend .UPG;
      @extend .SHADOW;
  }
}

.UPG {
font-family:'symbols';
padding:0;
/*display:inline-block;*/
font-size:2.3ex;
text-align:center;
text-decoration:none;
/*box-shadow:1px 1px 3px #000;
background:#333;
border-radius:50%;*/
border-width:0;
/*vertical-align:bottom;*/
line-height:1.3ex;
/*text-shadow:-2px -2px 5px #000,-2px 2px 5px #000,2px -2px 5px #000,2px 2px 5px #000;*/
}
.SHADOW {
text-shadow:-2px -2px 5px #000,-2px 2px 5px #000,2px -2px 5px #000,2px 2px 5px #000;
}
/* Modifier tokens, for combat effects */
@each $header, $content in (evade: ".Evade",
			    focus: ".Focus",
			    target: ".Target",
			    hit: ".Hit",
			    critical: ".Critical",
			    blank: ".Blank",
			    stress: ".Stress",
			    ion: ".Ion",
			    illicit: ".Illicit", 
			    crew: ".Crew") {
    .#{$header}modtokena {
    }
    .#{$header}modtokend {
	@extend .modtoken;
	@extend .greenmodtoken;
    }
    .#{$header}modtokena::after {
	@extend #{$content};
	@extend .modtoken;
	@extend .redmodtoken;
    }
    .#{$header}modtokend::after {
	@extend #{$content};
    }
}
/* Modifier tokens, for combat effects */
@each $name, $content,$color in (("evade",".Evade",".GREEN"),
			    ("focus",".Focus",".GREEN"),
			    ("target",".Target",".BLUE"),
			    ("cloak",".Cloak",".BLUE"),
			    ("stress",".Stress",".RED"),
			    ("targeted",".Target",".RED"),
			    ("ionized",".Ion",".RED"),
			    ("tractorbeam",".Tractor",".RED"),
		            ("nomoreattack",".Noattack",".RED"),
		            ("mod",".Mod",".YELLOW"),
			   ) {
    .x#{$name}token {
	@extend .xtoken;
	@extend #{$color};
    }
    .x#{$name}token::after { 
	@extend #{$content}; 
	@extend .SHADOW;
    }
}
.stoken {
font-family:'symbols';
padding:0;
display:inline-block;
margin:0;
text-align:center;
width:2ex;
line-height:3ex;
}
.xtoken {
font-family:'symbols';
padding:0;
display:inline;
margin:0;
text-align:center;
width:3ex;
font-size:smaller;
line-height:3ex;
text-decoration:none;
/*
box-shadow:1px 1px 3px #000;
background:#333;
border-radius:10px;
border-style:solid;
border-width:1px*/
}

.chull::after {
content:"&"
}
.cshield::after {
content:"*"
}

.hit,.critical,.cshield,.chull {
font-family:'symbols';
text-align:center;
line-height:14px;
display:inline
}
.counttoken,.ordnance {
font-size:0.6em;
padding:1px;
color:white;
border-radius:50%
}
.counttoken {
background-color:black;
}
.ordnance {
background-color:red;
}
.modtoken {
    font-family:'symbols';
    /*padding:4px;*/
    display:inline-block;
    margin:0;
    text-align:center;
    /*width:;*/
    /*font-size:smaller;*/
    line-height:1em;
    text-decoration:none;
   /* box-shadow:1px 1px 3px #000;*/
    border-radius:50%;
    /*border-style:solid;
    border-width:1px*/
}

.Criticalupg {
font-family:'symbols';
padding:0;
display:inline-block;
font-size:2.3ex;
text-align:center;
text-decoration:none;
box-shadow:1px 1px 3px #000;
background:#333;
border-radius:50%;
border-style:solid;
border-width:0;
vertical-align:top
}

label {
font-size:smaller
}


.evadetoken:hover,.focustoken:hover {
background:#050;
color:#000
}



.focusgreendice,.evadegreendice,.blankgreendice,.focusreddice,.hitreddice,.criticalreddice,.blankreddice,.reddice,.evadegreen,.greendice {
padding:5px;
margin:2px 0;
border:0;
text-align:center;
min-width:12px;
line-height:14px;
text-decoration:none;
box-shadow:1px 1px 3px #000
}

.redmodtoken {
background:#f33;
opacity:.9;
color:#fff
}
.greenmodtoken {
background:#3f3;
opacity:.9;
color:#fff;
}
.strategy {
    /*font-family:"dense";*/
    font-size:smaller;
    font-style:italic;
    &:before {
	content: "Beginner Strategy Guide v4.5";
	font-weight:bold;
	white-space:no-wrap;
	display:block;
    }
}
.focusgreendice,.evadegreendice,.blankgreendice,.greendice {
@extend .greenmodtoken;
}
.focusreddice,.hitreddice,.blankreddice,.criticalreddice,.reddice {
@extend .redmodtoken;
}

.evadegreen {
background:#2e2;
color:#fff
}

.focusreddice::after,.focusgreendice::after {
font-family:'symbols';
content:"f"
}

.hitreddice::after,.hit::after {
font-family:'symbols';
content:"d"
}


.criticalreddice::after,.critical::after,.Criticalupg::after {
font-family:'symbols';
content:"c"
}

.blankreddice::after,.blankgreendice::after {
font-family:'symbols';
content:"\00a0"
}

.evadegreendice::after,.evadegreen::after {
font-family:'symbols';
content:"e"
}



.permalink,.import {
background:#fff;
color:#4682b4
}

.animated {
stroke-dasharray:100px;
animation:dash 3s linear;
-webkit-animation-iteration-count:infinite;
animation-iteration-count:infinite
}

@keyframes dash {
to {
stroke-dashoffset:-1000px
}
}
.activeunit {
background:#000;
text-decoration:none;
color:#fff;
padding:4px;
margin:2px;
border-radius:50%;
cursor:pointer
}

.desc {
width:170px
}

.description {
margin:0;
padding:0;
border:0;
color:#535353;
background:rgba(255,255,255,0.7);
border-radius:4px
}

.disabled {
padding:3px;
display:table-cell;
margin:0;
text-align:center;
text-decoration:none;
border:0;
border-radius:4px;
background:#a9a9a9
}
.bigbutton:disabled,.nextphase:disabled,.mainbutton:disabled,.activeunit:disabled,.bigbutton2:disabled {
background:rgba(150,150,150,0.5);
color:#d3d3d3;
cursor:default
}

#squadlist {
    /*font-size:smaller;*/
    font-family:'space';
    color:#000;
    empty-cells:hide;
    border:0;
    table-layout:fixed;
    border-collapse:collapse;
    height:100%;
    margin-right:1em;
    tbody {
	max-height:30em;
	display:block;
	overflow-y:auto;
	tr:nth-child(odd) {
	    background:#fff;
	}
	tr:nth-child(even) {
	    background:#f9f9f9;
	}
	td {
	    padding:5px;
	    vertical-align:middle;
	    span {
		text-shadow:unset;
	    }
	}
	tr:hover,tr.selected {
	    background:lavender;
	}
    }
    thead {
	background: rgba(0,0,0,0.3);
	color: #FFF;
	tr {
	    display: block;
	    position: relative;
	    td {
		padding:5px;
	    }
	}
    }
    .smallbutton {
	font-size:smaller;
    }
}
#squadlist {
    td:nth-child(1), th:nth-child(1) { min-width: 2em; text-align:center; font-size:smaller;}
    td:nth-child(2), th:nth-child(2) { width: 100%; }
    td:nth-child(3), th:nth-child(3) { min-width: 4em;white-space:nowrap; }
}
#selectphase table#scenariolist {
    width:100%;
    color:#000;
    empty-cells:hide;
    border:0;
    border-collapse:collapse;
    margin-right:1em;
    font-size:smaller;
    height:100%;
    tbody {
	max-height: 8em;
	display: block;
	overflow-y:auto;
	tr:nth-child(odd) {
	    background:#fff;
	}
	tr:nth-child(even) {
	    background:#f9f9f9;
	}
	tr:hover,tr.selected {
	    background:lavender;
	}

    }
    thead {
	background: rgba(0,0,0,0.3);
	color: #FFF;
    }
}
/*#scenariolist {
    td:nth-child(1), th:nth-child(1) { min-width: 2em; text-align:center; }
    td:nth-child(2), th:nth-child(2) { min-width: 40em; }
    td:nth-child(3), th:nth-child(3) { min-width: 5em; }
}*/
#squadstats {
    width:80%;
    min-width:40ex;
    margin-left:10%;
    margin-right:10%;
    font-size:smaller;
}
.victorycond {
table-layout:fixed;
td:nth-child(1) {
    text-align:right;
}
td:nth-child(2) {
    text-align:left;
}
}
.leftpanel,.rightpanel {
/*top:4ex;*/
top:0;
position:absolute;
height:100%;/*calc(100% - 4.3ex);*/
color:#000;
background:#000;
border-width:0;
margin:0;
overflow-x:hidden;
overflow-y:auto;
@include CARBON;
display:none;
}

.leftpanel {
left:0;
direction:rtl
}

.rightpanel {
right:0
}

.symbols {
font-family:'symbols'
}

.statfire {
color:red
}
#rocks {
display:none;
color:white;
}
button.statfire,button.statevade,.player {
cursor:pointer;
font-size:smaller
}
.pre {
    white-space:pre-wrap;
    font-family:monospace;
}
.PREBUILT::before {
/*background-image:url(prebuilt.png)*/
}

.REBEL::before {
background-image:url(rebel.jpg);
border-radius:50%
}

.TOP::before {
font-family:'symbols';
text-decoration:none;
margin-left:2px;
box-shadow:1px 1px 3px #000;
background:#333;
border-radius:50%;
border-style:solid;
border-width:0
}

.EMPIRE::before,.REBEL::before,.SCUM::before,.PREBUILT::before {
background-size:cover;
background-repeat:no-repeat;
width:1em;
padding-top:1em;
content:"";
display:inline-block;
}

.EMPIRE::before {
background-image:url(empire.jpg);
border-radius:50%;
}

.SCUM::before {
background-image:url(scum.jpg);
border-radius:50%;
}

.flame1 {
content:url(png/flame1.png)
}

.flame2 {
content:url(png/flame2.png)
}

.xsymbols {
font-family:'symbols';
font-size:8px
}

.probacell {
    border:1px #fff solid;
    margin:0;
    padding:0;
    height:2ex;
    display:table-cell;
    &:hover {
	border:1px solid;
	opacity:.7
    }
}


footer {
    position:fixed;
    background:rgba(0,0,0,0.5);
    bottom:0;
    left:30%;
    width:40%;
    z-index:1;
    color:#d3d3d3;
    cursor:move;
    height:6em;
    .title {
	color:#fff;
	background:rgba(50,50,50,0.5);
	height:1em
    }
    input {
	color:white;
	background:rgba(80,80,80,0.5);
	width:calc( 100% - 6px );
	height:1em;
	border:2px;
	border-style:inset;
	padding:1px;
	cursor:text;
    }
}

.log {
text-align:left;
overflow-y:scroll;
font-size:smaller;
color:#d3d3d3;
height:5em
}
.unit {
cursor:move
}
td {
vertical-align:top;
margin:0;
border:0;
text-align:left
}
#team1 .details td:nth-child(2) {
text-align:right
}
#team2 .details td:nth-child(2) {
text-align:left
}
.details td.tooltip.overflow {
text-align:justify;
}
.details td:nth-child(3),.details td:nth-child(1) {
text-align:center;
}
.upgrade td:nth-child(2) {
width:20%
}
.upgrade td:nth-child(3) {
width:80%
}
tr {
margin:0;
border:0
}
.xwingship {
font-family:'ships';
padding:4px;
display:inline-block;
margin:0;
text-align:center;
width:14px;
font-size:2.5em;
line-height:9px;
text-shadow:1px 0 0 #fff;
box-shadow:1px 1px 3px #fff;
background:#fff;
border-radius:10px;
border-style:solid;
border-width:1px;
color:#fff
}

.tokens {
font-family:"Times New Roman",Times,serif;
padding:4px;
display:inline-block;
margin:0;
text-align:center;
width:14px;
font-size:smaller;
line-height:9px;
text-decoration:none;
box-shadow:1px 1px 3px #000;
background:#333;
border-radius:50%;
border-style:solid;
border-width:1px;
color:#08d
}

.arrow-right {
width:0;
height:0;
border-style:solid;
border-width:0 85px 20px;
border-color:transparent transparent rgba(0,0,0,0.3);
font-size:0;
line-height:20px;
position:absolute;
top:5em;
z-index:3;
}

.arrow-down {
width:0;
height:0;
border-style:solid;
border-width:20px 85px 0;
border-color:rgba(0,0,0,0.3) transparent transparent;
font-size:0;
line-height:20px;
position:absolute;
bottom:0;
z-index:3;
}

.content {
display:none
}

.active {
display:inline
}

.tab {
padding:6px 4px;
text-decoration:none;
border-radius:0 0 5px 5px;
background:#DDD;
font-size:smaller;
color:#222;
opacity:.5
}

.tab.active,.tab:hover {
background:#F9F9F9;
color:#777;
opacity:1
}

.squads {
width:100%
}

.squads tr td:first-child {
text-align:right;
width:50%
}

.squads tr td:nth-child(2) {
text-align:left;
width:50%
}

#selectphase {
    min-height:100%;
    background:#fff;
    /*overflow-y:hidden;*/
    table {
	width:80%;
	min-width:40ex;
	margin-left:10%;
	margin-right:10%;
    }
    .squadlists {
	table-layout:fixed;
	.squadtext {
	    opacity:0.75;
	}
	.scenariomode,.squadtext {
	    width:100%;
	    ul {
		background:#fff;
		list-style-type: none;
		overflow: scroll;
		height: 10em;
		li:hover {
		    background:lavender;
		}
	    }
	}
	.scenariomode {
	    display:none;
	}
    }
    h1 { color:#000; }
    .bg::before {
	background:url('playmat9.jpg') no-repeat fixed;
	background-size:cover;
    }
    .filter::after {
	background:lightgray;
    }


}

.squads textarea {
color:#fff;
background:#000
}

.squads textarea {
width:80%;
height:12em
}

.squadbg {
    position:relative;
    div {
	position:absolute;
	font-size:4em;
	left:calc(50% - 1em);
	top:10%;
	background:#A00;
	border:1px solid #A00;
	padding:.2em .3em 0;
	color:#fff;
	border-radius:50%;
    }
    textarea {
	width:100%;
    }
    .right {
	background:#4682b4;
	border:1px solid #4682b4
    }
    div.battlelog {
	background:#000;
	width:1.5em;
	border:1px solid #000;
    }
    img:hover,img.selected {
	border:3px inset #F00;
	padding:0;
    }
    img {
	padding:3px;
	border:0px;
	border-radius:50%;
	margin:0;
	vertical-align:middle;
    }
}
.squadmiddle {
padding:.2em .3em 0;
color:#fff;
border-radius:50%
}
.aster > img:hover,.aster > div.selected,.deb > img:hover,.deb > div.selected {
border:2px solid #A00;
padding:0;
}
.aster > img,.deb > img {
border:0;
border-radius:50%;
padding:2px;
width:20em;
height:20em;
}
.deb {
text-align:center;
width:100%;
border:0;
background:rgba(255,255,255,0.8);
border-radius:5px;
height:10em;
}
.aster {
text-align:center;
border:0;
background:rgba(255,255,255,0.8);
border-radius:5px;
height:30em;
width:30em;
overflow:auto;
}
.squadbg svg {
width:100%;
height:3em;
background:rgba(255,255,255,0.5)
}
.tosquad {
border:2px solid #000;
color:#fff;
background:#000;
opacity:.5;
padding-left:.2em;
padding-right:.2em;
border-radius:50%
}
.m-normalmap::after {
    vertical-align: top;
}
.squadmanage {
    width:100%;
    background:#b0c4de;
    margin:0;
    padding:0;
    border:0;
    height:1.3em;
    ul {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline
    }   
    > span {
	color:#fff;
	font-size:smaller;
	border-right:1px solid #fff;
	vertical-align:middle;
	height:1em;
	padding:5px 10px
    }
    > span:hover {
	color:#fff;
	background:#4682b4;
	opacity:1
    }
}
.dataTables_filter label,.dataTables_info {
color:white;
}
/*table.dataTable.display tbody tr:hover,table.dataTable tbody tr.selected{background-color:yellow !important; }
*/
table.dataTable td {
vertical-align:middle
}

.dataTables_wrapper {
width:95%;
margin-left:2.5%;
margin-top:1em;
}

.squadselected {
    width:95%;
    margin-left:2.5%;
    opacity:.75;
    button {
	border-collapse:collapse
    }
    textarea {
	width:100%;
	padding:0;
	margin:0;
	border:0;
	resize:none
    }
}
.symbols.maneuver.GREEN:hover,.symbols.maneuver.GREEN.selected {
color:#000;
background:#0F0;
}
.symbols.maneuver.WHITE:hover,.symbols.maneuver.WHITE.selected {
color:#000;
background:#FFF;
}
.symbols.maneuver.RED:hover,.symbols.maneuver.RED.selected {
color:#000;
background:#F00;
}
#setting td:first-child {
text-align:right;
}
#setting td:last-child {
text-align:left;
}

.h2 span.share-buttons {
padding:0;
margin:0;
border:0;
position:absolute;
right:10px;
top:3.2ex
}

.buttonbar {
    float:right;
    height:4ex;
    padding-top:1ex;
    padding-right:2ex;
    list-style-type:none;
    li,li#phase {
	display:inline-block;
	border-left:1px solid lightgrey;
	border-bottom:1px solid lightgrey;
	padding-left:5px;
	background:rgba(0,0,0,0.3);
	padding:5px;
	margin:0;
	color:white;
    }
    li#phase {
	cursor:default;
    }
    li,li label,li select {
	cursor:pointer;
    }
    li {
	&.selected {
    	color:white;
	background:rgba(255,255,255,0.3);
	}   
	&:hover {
	    background:#AAA;
	    color:black;
	}
	&:first-child {
	    border-left:0;
	}
	&[disabled] {
	    color:grey;
	}
	&.nextphase {
	    background:red;
	    border-radius:4px;
	}
	&.nextphase.disabled,&.nextphase.disabled:hover {
	    background:grey;
	    color:white;
	}
    }
}

span.share-buttons a {
display:inline;
padding:0;
margin:0;
border:0
}

.h2 span.share-buttons img {
height:1.5ex;
width:1.5ex
}

.menu img {
height:2ex;
width:2ex;
padding:10px
}

.share-buttons img,.menu img {
vertical-align:middle
}

.facebook,.tweet,.googlep,.email {
text-decoration:none;
color:#D0D0D0
}
.odd {
background:#f9f9f9
}
@font-face {
font-family:'symbols';
src:url(../font/xwings.ttf) format("truetype")
}

@font-face {
font-family:'space';
src:url(../font/EurostileLTStd.otf) format("truetype")
}
@font-face {
font-family:'spacename';
src:url(../font/EurostileLTStd-Demi.otf) format("truetype")
}
@font-face {
font-family:'ships';
src:url(../font/xwing-miniatures-ships.ttf) format("truetype")
}
ul.caroussel {
    padding:5px 9em 0 10em;
    /*perspective:780px;*/
    background-color:transparent;
    width:calc(100% - 21em);
    white-space:nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    height:22em;
    text-align:center;
    margin:10px;
    .right {
	float:right;
    }
    .upg {
	white-space:normal;
	span {
	    float:right;
	    padding-right:2px;
	}
	button {
	    border:0;
	    background:transparent;
	    color:#fff;
	    width:100;
	    text-align:left;
	    cursor:pointer;
	    font-size:1em;
	}
	tr:hover {
	    background:white;
	    color:#000;
	    button,.pts {
		color:#000;
	    }
	}
    }
    li {
	transform:translateZ(0px) scale(1);
	position:relative;
	padding:0;
	color:#fff;
	font-size:smaller;/* smaller */
	display:inline-block;
	height:19em;
	border-radius:10px;
	box-shadow:inset 1px 1px 0 rgba(255,255,255,.4),0 0 30px rgba(0,0,0,0.2);
	width:$pilot;
	/*opacity:.5;*/
	z-index:0;
	transition:all .45s;
	margin:4em 5px 0 0;
	background:rgba(0,0,0,0.3);
    }
    li:nth-child(-n+5) tr .tooltip {
	left:$pilot;
	vertical-align:top;
	margin-top:0em;
	top:0;
    }
    li:nth-child(n+5) tr .tooltip {
	right:$pilot;
	vertical-align:top;
	margin-top:0em;
	top:0
    }
    table {
	margin:2px 0 0 0px;
	border-collapse:collapse;
    }
    .upglist {
	height:$upglist;
	display:block;
	overflow-x:hidden;
	overflow-y:auto;
	width:100%;
	button {
	    border:0;
	    background:transparent;
	    color:white;
	    cursor:pointer;
	    width:100%;
	    text-align:left;
	    font-size:1em;
	}
	tr {
	    width:100%;
	}
	td {
	    white-space:normal;
	    padding:2px;
	    width:calc(100% - 2px);
	    /*width:100%;*/
	}
	td:nth-child(1) {
	    width:100%;
	    /*max-width:calc(100% - 5em);*/
	}
	td:nth-child(2) {
	    min-width:1em;
	}
	td:nth-child(3) {
	    min-width:1em;
	}
	td:nth-child(4) {
	    min-width:3em;
	}
	> tr > td {
	    vertical-align:middle
	}
	> tr button:disabled {
	    color:grey;
	}
	tr:hover {
	    color:#000;
	    background:#fff;
	    button {
		color:black;
	    }
	}
    }
    table.upgs,div.upgs {
	padding-left:4px;
	vertical-align:top;
	width:100%;
	.upg tr td:nth-child(1) {
	    width:2em;
	}
    }
    .statlist {
	width:100%;
	display:none;
	height:17em;
    }
    .statisticsvg {
	width:100%;
	height:17em;
    }
    td { vertical-align:middle; }
    li:first-child:hover,li.highlighted ~ li:hover { z-index:100;}
    li:hover,li.highlighted {
	opacity:1;
	z-index:60!important;
	background:#000;
    }
    .shipimg,.shipdial {
	opacity:1;
	background-size:30px 30px;
	background-repeat:no-repeat;
	background-position:center;
	width:35px;
	height:35px;
	max-width:35px;
	max-height:35px;
	margin:2px;
	cursor:pointer;
    }
    .shipdial {
	font-size:6px;
    }
    .shipimg {
	transform:rotate(90deg);
	line-height:25%;
	text-align:left;
	vertical-align:bottom;
	padding:5px 5px 5px 1px;
    }
    .pilots {
	line-height:1em;
	cursor:pointer;
	button {
	    cursor:pointer;
	    text-align:left;
	    background:transparent;
	    width:100%;
	    color:#fff;
	    /*font-weight:bold;*/
	    font-variant:small-caps;
	    font-family:'spacename';
	}
	button:disabled {
	    color:grey;
	}
    }
    button:hover {
	color:#000;/*lightgrey;*/
	background:white;
    }
    button:hover:disabled {
	color:grey;
    }
}

ul#caroussel {
    direction:ltr;
    li{
	transform:rotateY(45deg); /* no scale */
	margin-right:-11em;
	font-size:larger;
    }
    li.highlighted {
	transform:rotateY(0deg);
	opacity:1;
	z-index:55!important
    }
    .highlighted ~ li {
	transform:rotateY(-45deg);
    }
    li:hover,li.highlighted {
	transform:rotateY(0deg) translateZ(30em) translateY(-8em) scale(1.5);
    }
    
    li:hover ~ li {
	transform:rotateY(-45deg) translateX(120px); /* no scale */
    }
    &:hover {
	li:not(:hover) {
	    transform:rotateY(45deg)translateX(-120px);
	}
	li:hover ~ li {
	    transform:rotateY(-45deg) translateX(120px);
	}
    }
}


ul#listunits {
    height:$listunitsize;
    padding:0 0 0 2em;
    margin:0;
    width:calc(100% - 2em);
    opacity:1;
    .upts {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align:center;
	font-size:1em;
	opacity:0.8;
	z-index:-1;
	color:#fff;
	font-weight:bold;
    }
    .statpanel {
	margin:2px;
	float:left;
	width:2.5em;
	font-size:0.85em;
    }
    .iconpanel {
	@extend .statpanel;
	float:right;
    }
    .shipname {
	color:#fff;
	font-size:smaller;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
    }
    .pilotname {
	font-family:"spacename";
	font-variant:small-caps;
	/*font-weight:700;*/
	text-align:center;
	padding:2px;
	font-size:1em;
	color:#FFF;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
    }
    .headimg {
	position:absolute;
	top:0;
	left:0;
	width:$pilot;
	margin:0;
	border:0;
	padding:0;
	z-index:-1;
    }
    .close {
	font-size:2em;
	top:0.3em;
    }
    .duplicate {
	@extend .close;
	font-size:1.2em;
	top:2.5em;
	color:#fff;
    }
    li {
	height:$listunitlisize;
	margin-top:2em;
	/*font-size:1.2em;*/
    }
    .shipdial {
	left:26em;
	font-size:1em;
	background-size:30px 30px;
	background-repeat:no-repeat;
	background-position:center;
	width:35px;
	height:35px;
	max-width:35px;
	max-height:35px;
	margin:2px;
	cursor:pointer
    }
    .shipdial table {
    	  table-layout: fixed;
    }	      
}

.inunitlist {
padding:0;
margin:2px
}

.upgavail {
    white-space:normal;
    button:hover {
	border:0;
	padding:2px;
	color:black;
	background:white;
    }
    button {
	padding:1px;
	border-radius:15%;
	background:black;
	color:white;
	margin:2px;
	border:1px solid white;
	vertical-align:middle;
	.label {
	    border-radius:30%;
	    background:red;
	    color:white;
	    font-size:0.5em;
	    margin:1px;
	    padding:1px;
	    font-family:'space';
	}
    }
    code.upgrades{
	cursor:pointer
    }
}

.shipdial.tooltip {
background:#000;
}
.shipdial {
color:#fff;
/*max-width:30px;
width:30px;*/
/*font-size:6px;*/
empty-cells:hide;
padding:3px;
}
/*
.shipdial td {
width:4px;
height:4px
}*/

ul.caroussel:not(:hover) li.highlighted {
opacity:1
}

.pilots {
    width:100%;
    tr:hover {
	color:#000;
	background:#fff;
	td button,td.pts {
	    color:black;
	}
    }
    tr {
	color:#FFF;
	background:transparent;
    }
    td {
	white-space:normal;
	padding:2px;
	width:100%;
	&.pts {
	    color:#fff;
	    font-weight:bold;
	}
    }
    tbody {
	display:block;
	overflow-x:hidden;
	overflow-y:auto;
	width:100%;
	height:11em
    }
    button {
	@extend .createbutton;
	font-size:1em;
    }
    button:disabled {
	color:grey;
    }
}

.createbutton {
    border:0;
    padding:0;
    margin:0;
    text-align:left;
}


.shipdial {
display:none
}

.shipname {
font-variant:small-caps;
font-weight:700;
text-align:center;
padding:2px;
white-space:normal
}

.pts {
text-align:right
}
#squadbattlediv {
    font-size:smaller;
}
#squadbattle >tbody>tr>td,#battlingsquad {
vertical-align:top;
font-size:.7em
}

#squadbattle span {
text-decoration:underline
}

#battlingsquad {
vertical-align:top;
width:50%
}

.battlingtable {
width:100%
}

.battlingtable td {
vertical-align:top;
width:100%
}

.battlingtable th {
text-align:right;
vertical-align:top;
width:20%
}
a.dt-button {
margin:0;
padding:0;
background:transparent;
border:0;
}
span[for=toto] {
color:white;
} 
#titles
{
    @extend .shadowedtext;
    color:gold;
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(300px) rotateX(25deg);
    -moz-transform: perspective(300px) rotateX(25deg);
    -ms-transform: perspective(300px) rotateX(25deg);
    -o-transform: perspective(300px) rotateX(25deg);
    transform: perspective(300px) rotateX(25deg);
    pointer-events:none;
    h1 {
	font-variant:small-caps;
	text-align:center;
	font-weight: bold;
    }
    #titlecontent
    {
	position: absolute;
	top: 100%;
	animation: scroll 30s linear 0s;
    }
}
@keyframes scroll {
    0% { top: 100%;}
    100% { top: 20%;}
}
.printtable {
    border-collapse: collapse;
    border:1px solid black;
    /*margin:4px;*/
    padding:0;
    width:98%;
    font-size:smaller;
    tr,td,th {
	border:1px solid black;
	text-align:left;
	padding:5px;
    }
    td:nth-child(2) {
	width:2em;
    }
    .unitname {
	color:white !important;
	background-color:grey !important;
    }
    tr:nth-child(odd) {
	background-color:#f2f2f2 !important;
    }
}
#printunits {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.ship {
font-family:"ships";
font-size:1.5em;
}
