header,footer,
article,section,
hgroup,nav,
figure{
    /* Giving a display value to the HTML5 rendered elements: */
    display:block;
}
#playmat {
    border-width: 2px;
    padding: 0px;
    width: auto;
    height: 100%;
    overflow: scroll;
}
article {
    margin: 0 0 0 0px;
    padding: 0px;
    width: auto;
}
#svgout {
    background: #000000 url("img/playmat2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 900px;
    height: 900px;
}
nav,article,body, #info {
    background-color:#333; /*#282828;*/ 
}
body {
    font-size: 8px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "aldrich";
    overflow: hidden;
}
nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.about {
    overflow-y: scroll;
}
.modalDialog, .about {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target, .about:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div, .about > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: white;
    color: black;
}
#combatmodal > div {
    width: 200px;
}
#import div div {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
textarea {
    font-family: 'aldrich';
    font-size: 8px;
}
td, th,table {
    vertical-align: middle;
    color: black;
    background-color: white;
    text-align: center;
}
th {
    background-color: #888;
    color: white;
}
.warn {
    color: red;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

.phasepanel {
    width: 100%;
    display: none;
}
.phasepanel div {
    margin: 0px;
    display: table-row;
}
#attack, #defense {
    margin: 0px;
    border: 0px;
    padding: 0px;
}
#skill, #tskill,.statskill{
    color: #FA0;
    border: 0px;
}
#fire,#tfire,.statfire {
    color: #A00;
    border: 0px;
}
#evade,#tevade,.statevade {
    color: #0A0;
    border: 0px;
    border: 0px;
}
#hull,#thull,.stathull {
    color: #CC0;
    border: 0px;
}
#shield,#tshield,.statshield {
    color: #0AF;
    border: 0px;
}
#pilot,#tpilot {
    text-align: center;
    width: 100%;
    border: 0px;
    font-weight: bold;
    padding:2px 0px 2px 0px;
    margin:0px;
    color: black;
    border-radius-top: 4px;
    display: table-cell;
}
#unit,#tunit {
/*    font-family: 'ships';*/
    font-size: 6px;
    text-align: center;
    border: 0px;
    padding:0px 2px 0px 2px;
    margin:0px;
    width: 100%;
    display: table-cell;
}
#unit-faction, #tunit-faction {
    text-align: center;
    border: 0px;
    padding:0px;
    margin:0px;
    width: auto;
    display: table-cell;
}
.stat,.stathull,.statshield,.statfire,.statskill,.statevade {
    padding: 5px 5px 5px 5px;
    display: inline-block;
    margin: 4 0px;
    border: 0px;
    background: linear-gradient(top, #555 0%, #000 100%);  
    background: -moz-linear-gradient(top, #555 0%, #000 100%); 
    background: -webkit-linear-gradient(top, #555 0%,#000 100%); 
    text-align: center;
    width: 8px;
    font-weight: bold;
    line-height: 8px;
    text-decoration: none;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.Elite,.Title,.Mod,.Torpedo,.Astromech,.Turret,.Missile,.Crew,.Cannon,.Bomb,.System,.Illicit,.Salvaged {
    color: #ffd700;
}
.Mod::after {
    content: "m";
}
.Title::after {
    content: "t";
}
.Elite::after {
    content: "E";
}
.Torpedo::after {
    content: "P";
}
.Astromech::after {
    content: "A";
}
.Bomb::after {
    content: "B";
}
.Missile::after {
    content: "M";
}
.Illicit::after {
    content: "I";
}
.Cannon::after {
    content: "C";
}
.Crew::after {
    content:"W";
}
.System::after {
    content: "S";
}
.Turret::after {
    content:"U";
}
.Salvaged::after {
    content:"V";
}
.Mod::after {
    content:"m";
}
.evadetoken,.focustoken,.stresstoken,.targettoken {
    font-family: 'symbols';
    padding: 3px 3px 3px 3px;
    display: inline-block;
    margin: 2 1px;
    font-size: 7px;
    text-align: center;
    width: 8px;
    line-height: 8px;
    text-decoration: none;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    background: linear-gradient(top, #555 0%, #000 100%);  
    background: -moz-linear-gradient(top, #555 0%, #000 100%); 
    background: -webkit-linear-gradient(top, #555 0%,#000 100%); 
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
}
.Elite,.Torpedo,.Astromech,.Turret,.Missile,.Crew,.Cannon,.Bomb,.Title,.Mod,.System,.Illicit,.Salvaged {
    font-family: 'symbols';
    padding: 0px;
    display: inline-block;
    margin: 1px;
    font-size: 12px;
    text-align: center;
    width: 12px;
    line-height: 12px;
    text-decoration: none;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    background: linear-gradient(top, #555 0%, #000 100%);  
    background: -moz-linear-gradient(top, #555 0%, #000 100%); 
    background: -webkit-linear-gradient(top, #555 0%,#000 100%);
    border-radius: 8px;
    border-style: solid;
    border-width: 0px; 
}
.evadetoken,.focustoken {
    color: #0a0;
    border-color: #0a0;
}
.stresstoken {
    color: #f33;
    border-color: #f33;
}
.targettoken {
    color: #08d;
    border-color: #0af;
}
.evadetoken:hover,.focustoken:hover {
    background: linear-gradient(top, #050 0%, #0a0 100%);  
    background: -moz-linear-gradient(top, #050 0%, #0a0 100%); 
    background: -webkit-linear-gradient(top, #050 0%,#0a0 100%); 
     color: #000;
}
.targettoken:hover {
    background: linear-gradient(top, #058 0%, #0af 100%);  
    background: -moz-linear-gradient(top, #058 0%, #0af 100%); 
    background: -webkit-linear-gradient(top, #058 0%,#0af 100%); 
    color: #000;
}
.stresstoken:hover {
    background: linear-gradient(top, #500 0%, #f33 100%);  
    background: -moz-linear-gradient(top, #500 0%, #f33 100%); 
    background: -webkit-linear-gradient(top, #500 0%,#f33 100%); 
    color: #000;
}
.focustoken::after {
    content: "f";
}
.evadetoken::after {
    content: "e";
}
.targettoken::after {
    content: "l";
}
.stresstoken::after {
    content: "s";
}

.focusgreendice,.evadegreendice,.blankgreendice,.focusreddice,.hitreddice,.criticalreddice,.blankreddice {
    font-family: 'symbols';
    padding: 5px 5px 5px 5px;
    display: inline-block;
    margin: 2 0px;
    color: #fff;
    border: 0px;
    font-size: 7px;
    text-align: center;
    width: 8px;
    line-height: 8px;
    text-decoration: none;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.focusreddice,.hitreddice,.blankreddice,.criticalreddice {
    background: linear-gradient(top, #f33 0%, #b00 100%);  
    background: -moz-linear-gradient(top, #f33 0%, #b00 100%); 
    background: -webkit-linear-gradient(top, #f33 0%,#b00 100%); 
}
.focusgreendice,.evadegreendice,.blankgreendice {
    background: linear-gradient(top, #3f3 0%, #0b0 100%);  
    background: -moz-linear-gradient(top, #3f3 0%, #0b0 100%); 
    background: -webkit-linear-gradient(top, #3f3 0%,#0b0 100%); 
}
.focusreddice::after,.focusgreendice::after {
    content: "f";
}
.hitreddice::after {
    content: "d";
}
.criticalreddice::after {
    content: "c";
}
.blankreddice::after,.blankgreendice::after {
    content: "\00a0";
}
.evadegreendice::after {
    content: "e";
}
#pilot-text , #tpilot-text{
    height:8em;
    text-align:justify;border:0px;margin:4px;padding:0px;
}
#actionlist,#tactionlist {
    height: 2.5em;
}
#upgrades,#tupgrades {
    height: 2em;
}
#nextphase {
    position: absolute;
    bottom: 0px;
    width: 100px;
}
.description {
    margin:0px; 
    padding: 0px;
    border: 0px;
    color:#535353;
    background: white;
    border-radius: 4px;
}
.button2, .button,.largebutton {
    color: white;
}
.largebutton > b::first-letter, .largebutton::first-letter, .button::first-letter, .button2::first-letter {
    text-decoration: underline;
}
.button2, .button, .disabled,.largebutton {
    padding: 3px 3px 3px 3px;
    display: table-cell;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    border: 0px thin;
    border-radius: 4px;
}
.button {
    margin: 10px;
    padding: 10px;
    width: 100px;
    background: linear-gradient(top, #822 0%, #f88 100%);  
    background: -moz-linear-gradient(top, #822 0%, #f88 100%); 
    background: -webkit-linear-gradient(top, #822 0%,#f88 100%); 
}
.disabled, .button2,.largebutton {
    background: linear-gradient(top, #222 0%, #888 100%);  
    background: -moz-linear-gradient(top, #222 0%, #888 100%); 
    background: -webkit-linear-gradient(top, #222 0%,#888 100%); 
    font-size: 8px;
}
.button2:disabled,.largebutton:disabled {
    background: #555;
    color: #888;
}
.largebutton {
    width: 100%;
}
.button2 {
    width: 48px;
}
header {
    clear: both;
    line-height:20px;
    height: 20px;
    width:100%;
    margin: 0px;
    padding: 0px;
    color:#ffffff;
}
h1 {
   color: red;
   text-shadow: 3px 3px 5px #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
    width: 100%;
    margin:0px;
    border:0px;
    text-align: center;
}
.infopanel {
    opacity: 0.5;

}
#info {
    float: left;
    width: 100px;
    height: 100%;
    opacity: 1;
    color: #FFF;
    border-width: 0;
    margin: 0px;
}
.dialspeed{
    font-size: 8px;
    stroke-width: 0px;
}
.hoverinfo{
    font-size: 8px;
    fill: #fff;
    stroke-width: 2px;
}
.symbols{
    font-family: 'symbols';
    font-size: 9px;
}
.REBEL, .EMPIRE {
    font-family: 'symbols';
    margin: 2px;
    text-align: center;
}
.REBEL {
    color: #F00;
}
.EMPIRE {
    color: #000;
}
.REBEL::after {
    content: "!";
}
.EMPIRE::after {
    content: "@";
}
.xsymbols{
    font-family: 'symbols';
    font-size: 6px;
    stroke-width: 0px;
}
footer {
    position: absolute;
    background: rgba(0,0,0,0.3);
    color: white;
    bottom: 0px;
    width: 100%;
    height: 10px;
    text-align: center;
}
.xwingship {
    font-family:'ships';
    font-size: 40px;
    fill: #000;
    cursor: move;
    text-shadow: 3px 3px 5px #fff,
    -1px -1px 0 #999,  
    1px -1px 0 #888,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.arrow-right {
    border-color: transparent #888;
    border-style: solid;
    border-width: 4px 0px 4px 8px;
    height: 0px;
    width: 0px;
    font-size: 0px;
    line-height: 10px;
}
.arrow-left {
    border-color: transparent #888;
    border-style: solid;
    border-width: 4px 8px 4px 0px;
    height: 0px;
    width: 0px;
    font-size: 0;
    line-height: 10px;
}
@font-face {
  font-family: 'symbols';
  src: url('xwing-miniatures.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'aldrich';
  src: url('Aldrich-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'ships';
  src: url('xwing-miniatures-ships.ttf')  format('truetype') /* Safari, Android, iOS */
}
