html,body {
margin:0;
padding:0;
overflow:hidden;
width:100%;
height:100%;
background-color:white;
}

footer,article,nav,footer,body {
display:block;
font-family:sans-serif;
font-size-adjust: 0.5
}

[data-i18n-fr]:lang(fr)::after {
content:attr(data-i18n-fr)
}

[data-i18n]:lang(en)::after {
content:attr(data-i18n)
}
#main {
height:calc(100% - 60px);
width:calc(100% - 340px);
position:absolute;
top:57px;
left:170px;
z-index:0;
}
#playmat {
padding:0;
background:url(img/playmat7.jpg);
background-repeat:no-repeat;
background-size:100% 100%;
width:100%;
height:100%;
overflow:hidden
}
#playmat img {
width:100%;
height:100%;
}
article {
margin:0;
padding:0;
width:100%;
height:100%
}
.tooltip {  
position:absolute;
width:20em;
color:white;
font-weight:normal;
font-size:small;
opacity:0;
pointer-events:none;
}
#team1 .tooltip {
left:170px
}
#team2 .tooltip {
right:170px
}
tr:hover .tooltip,.name:hover .tooltip { 
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;       
    opacity : 1;
}
#leftpanel,#rightpanel {
background:#fff
}

body {
background:#000;
width:100%;
margin:0;
padding:0;
border:0
}

nav {
background:#4682b4;
margin:0;
padding:1px;
clear:both;
position:fixed;
top:0;
left:0;
width:100%;
height:57px;
z-index:10;
}

.h2 {
margin:0;
padding:0;
border:0;
font-size:x-large;
color:#fff
}

h2 {
color:#4682b4
}

nav ul {
list-style-type:none;
margin:0;
padding:0;
display:inline
}

nav li {
display:inline
}

nav a {
border-right:2px solid #fff;
text-decoration:none;
color:#fff;
padding:5px
}
.name select {
background:steelblue;
color:white;width:100%;text-align:center;
}
.modalDialog {
position:fixed;
top:0;
right:0;
bottom:0;
left:0;
background:rgba(0,0,0,0.8);
z-index:999;
opacity:0;
-webkit-transition:opacity 400ms ease-in;
-moz-transition:opacity 400ms ease-in;
transition:opacity 400ms ease-in;
display:none
}

.modalDialog:target {
opacity:1;
display:block
}
.generic {
width:176px;
}
.info {
width:10em;
height:1em;
color:#fff;
background:rgba(0,0,0,0);
display:none;
position:absolute;
left:150px;
top:0
}

.phasepanel {
position:absolute;
top:0;
left:0;
color:#fff;
background:rgba(0,0,0,0);
width:50px;
}

.modalDialog > div {
position:relative;
margin:10% auto;
padding:5px 20px 13px;
border-radius:10px;
background:#fff;
color:#000
}

#modal > div,#credit > div,#about > div {
width:800px
}

#import > div,#export > div,#proba > div,#combatmodal > div {
width:400px
}

#credit > div,#about > div {
-moz-column-count:3;
-webkit-column-count:3;
column-count:3;
font-size:smaller;
text-align:justify
}

.help {
height:100%;
width:100%;
-moz-column-count:3;
-webkit-column-count:3;
column-count:3;
-webkit-column-width:100px;
-moz-column-width:100px;
column-width:100px;
font-size:smaller
}

#help > div {
width:88%;
height:88%;
margin:2%;
text-align:justify
}

#help-howtoplay > div > div {
overflow:scroll
}

#import div div {
-webkit-column-count:2;
-moz-column-count:2;
column-count:2
}

td,th,table {
vertical-align:middle;
text-align:center
}

.warn {
color:red
}

.close {
background:#606061;
color:#FFF;
line-height:25px;
position:absolute;
right:0;/*-12px;*/
text-align:center;
top:0;/*-10px;*/
z-index:1;
width:24px;
text-decoration:none;
font-weight:700;
border-radius:12px;
box-shadow:1px 1px 3px #000
}

.close:hover {
background:#00d9ff
}

.phasepanel {
display:none
}

.attackwp {
background:#000;
color:#fff
}

#attack,#defense {
margin:0;
border:0;
padding:0
}

.tdstat {
width:100%;
line-height:20px;
padding:2px;
margin:1px
}

.statfire,.statevade,.PS,.statshield,.stathull,.statskill {
line-height:1.5em;
padding:.1em;
margin:.1em;
background:#333;
border-radius:100%;
width:1.5em;
text-align:center;
}
.team,.name {
background:#fff;
color:#000
}

.name {
font-weight:700
}

.total,.addunit {
color:#b0c4de;
font-weight:700
}

.statskill,.PS {
color:#FA0
}

.statevade {
color:#0A0
}

.stathull,.hull,.chull {
color:#EE0
}

.statshield,.shield,.cshield {
color:#0AF
}

.hull,.shield {
display:inline-block;
font-family:'symbols'
}

.stat,.stat2,.stat3 {
line-height:8px;
position:absolute;
width:1.3ex;
letter-spacing:4px
}

.statfire,.statskill,.PS,.statevade,.stathull,.statshield {
display:inline-block
}
#team1 {
position:absolute;
top:59px;
width:170px;
z-index:2;
}
#team2 {
position:absolute;
top:59px;
width:170px;
z-index:2;
}

#team1 .statskill {
float:right
}

#team1 .stat {
left:170px
}

#team1 .stat2 {
left:178px
}

#team1 .stat3 {
left:186px
}

#team2 .stat {
right:170px
}

#team2 .stat2 {
right:178px
}

#team2 .stat3 {
right:186px
}

#team2 .statskill {
float:left
}

#team1 .pts,#team2 .pts,#team1 .totalpts,#team2 .totalpts {
color:#fff;
position:absolute;
background:rgba(255,0,0,0);
text-align:left;
text-shadow:-1px -1px 0 #000;
z-index:1;
margin-top:0.5em;
}

.totalpts,.total {
/*font-size:30px*/
}
#team1 .pts,#team1 .totalpts {
left:185px
}
#team2 .pts,#team2 .totalpts {
right:185px
}
td,tr,table {
margin:0;
border:0;
padding:0
}
.dial {
position:absolute;
color:#fff;
padding:1.5em;
max-width:10em;
width:10em
z-index:1;
}
.upgtxt {
position:absolute;
color:#fff;
padding-left:1em;
max-width:350px;
width:350px;
z-index:1;
}
#team2 .dial,#team2 .upgtxt {
right:216px
}

#team1 .dial,#team1 .upgtxt {
left:176px
}
.plus {
color:#b0c4de;
font-size:large;
font-weight:700;
padding:5px;
display:inline-block;
margin:5px;
text-align:center;
width:14px;
line-height:14px;
box-shadow:1px 1px 3px #000;
border-radius:16px;
border-style:solid;
border-width:1px
}
select {
height:2em;
width:15em;
padding-left:0;
margin-left:0;
text-align:center;
}
.hull,.shield {
font-family:'symbols';
line-height:8px;
font-size:20px;
border:0;
margin:0;
padding:0;
font-weight:700
}

.phasepanel .symbols {
text-decoration:none;
text-align:center;
padding:1px;
margin:1px;
min-width:20px;
border-color:#fff;
border-radius:20px;
background:rgba(0,0,0,0.4)
}

.disabled,.disabled .selected {
color:#aaa
}

.team .selected {
background:orange;
color:#fff
}

.team .selected .name {
background:#ff8c00;
color:#fff
}

.phasepanel .symbols:hover,.phasepanel .selected {
background:#888
}

.table,.team {
display:table;
width:100%;
padding:0;
border:0
}

.table .vertical,.tohit .details,.team .horizontal {
display:none
}

.details {
font-size:small;
text-align:center;
margin:0.1em;
overflow:auto;
height:50px
}

.upgrade select {
width:120px;
border:2px;
margin:0
}

.table > div,.team > div,.team > p {
display:table-row;
width:200px;
padding:0;
margin:0
}

.table > div > div,.phasepanel .table > div > button,.team > div > div {
display:table-cell;
text-align:center;
min-width:20px
}

.table .symbols {
border:1px;
border-radius:10px;
border-style:solid
}

.dead,.dead .name,.dead .name .selected,.dead .REBEL,.dead .statfire,.dead .statevade,.dead .upgrades,.dead .EMPIRE,.dead .SCUM,.dead .statskill,.team .selected .dead .name {
background:#000;
color:gray
}

.team > div {
margin-left:0px;
padding-left:0px;
box-shadow:1px 1px 3px #000;
border:0 0 5px 0;
border:solid;
color:#000;
background:#fff
}

.smallbutton,.bigbutton,.button,.largebutton {
display:inline-block;
margin:5px;
text-align:center;
box-shadow:1px 1px 3px #000;
padding:5px;
color:#fff;
border:0;
text-decoration:none;
background:#b0c4de;
cursor:pointer;
border-radius:5px
}

.bigbutton {
width:74px
}

.smallbutton {
width:25px;
margin:0
}

.GREEN {
color:#0F0
}

.RED {
color:red
}

.WHITE {
color:#fff
}

.upgrades {
color:#ffd700
}

.inactive,.inactive .upgrades,.inactive .statfire,.dead .nofire .statfire {
color:gray
}

.nofire .statfire {
color:#b22222
}

.Laser,.Turretlaser,.Bilaser {
color:#F33
}

.Laser::after,.Bilaser::after {
content:"%"
}

.Turretlaser::after {
content:"$"
}

.Mod::after {
content:"m"
}

.Title::after {
content:"t"
}

.Elite::after {
content:"E"
}

.Torpedo::after {
content:"P"
}

.Astromech::after {
content:"A"
}

.Bomb::after {
content:"B"
}

.CannonTorpedoMissile::after {
content:"CPM"
}

.Missile::after {
content:"M"
}

.Illicit::after {
content:"I"
}

.Cannon::after {
content:"C"
}

.Crew::after {
content:"W"
}

.System::after {
content:"S"
}

.Turret::after {
content:"U"
}

.Salvaged::after {
content:"V"
}

.Mod::after {
content:"m"
}

.chull::after {
content:"&"
}

.cshield::after {
content:"*"
}

.hit,.critical,.cshield,.chull {
font-family:'symbols';
text-align:center;
width:14px;
line-height:14px;
display:inline
}

.evadetoken,.focustoken,.cloaktoken,.stresstoken,.targettoken {
font-family:'symbols';
padding:6px;
display:inline-block;
margin:0;
text-align:center;
width:14px;
line-height:14px;
text-decoration:none;
box-shadow:1px 1px 3px #000;
background:#333;
border-radius:20px;
border-style:solid;
border-width:1px
}

.xevadetoken,.xfocustoken,.xcloaktoken,.xstresstoken,.xtargetedtoken,.xtargettoken,.xionizedtoken,.focusmodtokena,.focusmodtokend,.hitmodtokena,.hitmodtokend,.criticalmodtokena,.blankmodtokena,.blankmodtokend,.evademodtokend,.targetmodtokena {
font-family:'symbols';
padding:4px;
display:inline-block;
margin:0;
text-align:center;
width:10px;
font-size:smaller;
line-height:9px;
text-decoration:none;
box-shadow:1px 1px 3px #000;
background:#333;
border-radius:10px;
border-style:solid;
border-width:1px
}

.Criticalupg,.Elite,.Torpedo,.Astromech,.Turret,.Missile,.Crew,.Cannon,.Bomb,.Title,.Mod,.System,.Illicit,.Salvaged,.Laser,.Bilaser,.Turretlaser,.CannonTorpedoMissile {
font-family:'symbols';
padding:0;
/*float:left;*/
display:inline-block;
margin:4px;
font-size:x-large;
text-align:center;
text-decoration:none;
box-shadow:1px 1px 3px #000;
background:#333;
border-radius:8px;
border-style:solid;
border-width:0
}
.CannonTorpedoMissile {
font-size:small
}
label {
font-size:small
}
.evadetoken,.focustoken,.xevadetoken,.xfocustoken {
color:#0a0;
border-color:#0a0
}
.stresstoken,.xstresstoken,.xionizedtoken,.xtargetedtoken {
color:#f33;
border-color:#f33
}
.targettoken,.cloaktoken,.xtargettoken,.xcloaktoken {
color:#08d;
border-color:#0af
}

.evadetoken:hover,.focustoken:hover {
background:#050;
color:#000
}

.targettoken:hover,.cloaktoken:hover {
background:#058;
color:#000
}

.stresstoken:hover {
background:#500;
color:#000
}

.focustoken::after,.xfocustoken::after {
content:"f"
}

.evadetoken::after,.xevadetoken::after {
content:"e"
}

.targettoken::after,.xtargettoken::after,.xtargetedtoken::after,.targetmodtokena::after {
content:"l"
}

.stresstoken::after,.xstresstoken::after {
content:"s"
}

.xionizedtoken::after {
content:"Z"
}

.cloaktoken::after,.xcloaktoken::after {
content:"k"
}

.focusgreendice,.evadegreendice,.blankgreendice,.focusreddice,.hitreddice,.criticalreddice,.blankreddice,.reddice,.evadegreen,.greendice {
padding:5px;
margin:2px 0;
border:0;
text-align:center;
min-width:12px;
line-height:14px;
text-decoration:none;
box-shadow:1px 1px 3px #000
}

.focusreddice,.hitreddice,.blankreddice,.criticalreddice,.reddice,.focusmodtokena,.targetmodtokena,.hitmodtokena,.criticalmodtokena,.blankmodtokena {
background:#f33;
opacity:.9;
color:#fff
}

.focusmodtokend,.blankmodtokend,.evademodtokend,.hitmodtokend {
background:#3f3;
opacity:.9;
color:#fff
}

.focusgreendice,.evadegreendice,.blankgreendice,.greendice {
background:#3f3;
opacity:.9;
color:#fff
}

.evadegreen {
background:#2e2;
color:#fff
}

.focusreddice::after,.focusgreendice::after,.focusmodtokena::after,.focusmodtokend::after {
font-family:'symbols';
content:"f"
}
.hitreddice::after,.hit::after,.hitmodtokena::after,.hitmodtokend::after {
font-family:'symbols';
content:"d"
}

.criticalreddice::after,.critical::after,.Criticalupg::after,.criticalmodtokena::after {
font-family:'symbols';
content:"c"
}

.blankreddice::after,.blankgreendice::after,.blankmodtokena::after,.blankmodtokend::after {
font-family:'symbols';
content:"\00a0"
}

.evadegreendice::after,.evadegreen::after,.evademodtokend::after {
font-family:'symbols';
content:"e"
}

#pilot-text {
height:8em;
text-align:justify;
border:0;
margin:4px;
padding:0
}

#actionlist {
height:2.5em
}

.upgrade {
display:table-row
}

.nextphase {
background:red
}

.permalink {
background:#b0c4de
}

.animated {
stroke-dasharray:100;
animation:dash 3s linear;
animation-iteration-count:infinite
}

@keyframes dash {
to {
stroke-dashoffset:-1000
}
}

.activeunit {
background:#000
}

.activeunit,.nextphase,.permalink {
text-decoration:none;
color:#fff;
padding:4px;
margin:2px;
border-radius:25px;
cursor:pointer
}

.desc {
width:170px
}

.description {
margin:0;
padding:0;
border:0;
color:#535353;
background:rgba(255,255,255,0.7);
border-radius:4px
}

.button2,.button,.largebutton {
color:#fff
}

.largebutton > b::first-letter,.largebutton::first-letter,.button::first-letter,.button2::first-letter {
text-decoration:underline
}

.button2,.disabled {
padding:3px;
display:table-cell;
margin:0;
text-align:center;
text-decoration:none;
border:0;
border-radius:4px
}

.button {
width:150px;
background:#822
}

.disabled,.button2 {
background:#a9a9a9
}

.bigbutton:disabled,.nextphase:disabled,.activeunit:disabled,.largebutton:disabled {
background:gray;
color:#d3d3d3;
cursor:default;
box-shadow:1px 1px 0 #000
}

.largebutton {
width:150px
}

.button2 {
width:74px
}

#leftpanel {
width: 170px;
height:calc(100% - 60px);
background-color:rgba(255,255,255,0);
color:#000;
border-width:0;
margin:0;
overflow:hidden;
float:left;
}
#rightpanel {
width:170px;
height:calc(100% - 60px);
background-color:rgba(255,255,255,0);
color:#000;
border-width:0;
margin:0;
overflow:hidden;
float:right;
}
.symbols {
font-family:'symbols'
}

.factionselect code {
background:#eee;
cursor:pointer;
border-top:solid 2px #eaeaea;
border-left:solid 2px #eaeaea;
border-bottom:solid 2px #777;
border-right:solid 2px #777;
padding:5px
}

.factionselect .down {
background:#bbb;
border-top:solid 2px #777;
border-left:solid 2px #777;
border-bottom:solid 2px #eaeaea;
border-right:solid 2px #eaeaea
}

.REBEL,.EMPIRE,.SCUM {
font-family:'symbols';
margin:2px;
border-radius:20px
}

.REBEL,.statfire {
color:red
}

.statfire,.statevade {
cursor:pointer;
}

.EMPIRE {
color:#000
}

.SCUM {
color:#AA3
}

.REBEL::after {
content:"!"
}

.EMPIRE::after {
content:"@"
}

.SCUM::after {
content:"#"
}
.flame1 {
content:url(png/flame1.png);
}
.flame2 {
content:url(png/flame2.png);
}
.xsymbols {
font-family:'symbols';
font-size:6px
}

.probacell {
border:1px #fff solid;
margin:0;
padding:0;
height:2ex;
display:table-cell
}

.probacell:hover {
border:1px solid;
opacity:.7
}

#menuaction ul {
list-style:none;
position:relative;
top:-20px;
left:-20px;
width:16px;
display:none;
visibility:hidden;
background:#000;
box-shadow:0 0 5px rgba(0,0,0,0.15)
}

#menuaction ul li {
display:block;
background:#000
}

#menuaction ul li:hover {
background:#aaa
}

#menuaction:hover ul {
display:block;
visibility:visible
}
.ver {
font-size:x-small
}
footer {
position:fixed;
background:rgba(0,0,0,0.5);
top:0;
right:0;
width:40%;
height:58px;
z-index:16;
text-align:left;
overflow:auto;
font-size:small;
color:lightgrey
}
.unit {
cursor:move
}

td {
vertical-align:top;
margin:0;
border:0
}

tr {
margin:0;
border:0
}

.xwingship {
font-family:'ships';
padding:4px;
display:inline-block;
margin:0;
text-align:center;
width:14px;
line-height:9px;
text-decoration:none;
box-shadow:1px 1px 3px #000;
background:#333;
border-radius:10px;
border-style:solid;
border-width:1px;
color:#d00
}

.tokens {
font-family:"Times New Roman",Times,serif;
padding:4px;
display:inline-block;
margin:0;
text-align:center;
width:14px;
font-size:smaller;
line-height:9px;
text-decoration:none;
box-shadow:1px 1px 3px #000;
background:#333;
border-radius:10px;
border-style:solid;
border-width:1px;
color:#08d
}

.arrow-right {
border-color:transparent #888;
border-style:solid;
border-width:8px 0 8px 16px;
height:0;
width:0;
font-size:0;
line-height:20px
}

.arrow-left {
border-color:transparent #888;
border-style:solid;
border-width:8px 16px 8px 0;
height:0;
width:0;
font-size:0;
line-height:20px
}
input.factionselect + label {
  padding: 4px;
  margin:10px;
  font-size: xx-large;
  height: 40px;
  width: 30%;
  line-height:50px;
  border-radius: 100%;
  display:inline;
  cursor: pointer;
}
input.factionselect:checked + label {
    border:1px solid;
    box-shadow: 5px 5px 5px #888888;
}
input.human + label {
  padding:0;
  width: 170px;
  height: 20px;
  border:1px outset;
}
.human,.factionselect {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.human + label {
  display: block;
  width:100%;
  position: relative;
  cursor: pointer;
  outline: none;
  font-size:large;
  height:28px;
}
input.human + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-size:large;
  border:0 0 0 4px solid;
}
input.human:checked + label:after {
  background-color:#4682b4;
  color: #ffffff;
  content: attr(data-on);
}
input.human:not(:checked) + label:after {
  color:#4682b4;
  background-color: #ffffff;
  content: attr(data-off);
}
@font-face {
font-family:'symbols';
src:url(x-wingsymbols.ttf) format("truetype")
}

@font-face {
font-family:'ships';
src:url(xwing-miniatures-ships.ttf) format("truetype")
}
